import * as THREE from "three/webgpu";
import { Experience } from "../Experience";

export class {{className}} {
  constructor() {
    this.experience = Experience.getInstance();
    this.model = this.experience.resources.items.{{key}}.scene;

    this.init();
  }

  init() {
    this.model.traverse((child) => {
      if (!child.isMesh) return;

      child.castShadow = true;
      child.receiveShadow = true;
    });

    this.experience.scene.add(this.model);
  }

  resize() {}

  update() {}

  destroy() {}
}
